.parent{
    /* background: rgb(19, 14, 100); */
    background-image: linear-gradient(to right, #f1f0e4, #5f6f72);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    /* justify-content: flex-start; */
    

}
.anchor,.anchor2{
    text-decoration: none;
    margin-left: 3%;
    
    font-size: 18px;
    color: #5f6f72;
}
.anchor:hover{
    color: black;
}
/* .log{
    
    text-decoration: none;
    color: black;
} */
.not{
    display: none;
}
.anchor2{
    display:flex
}
.info{
    
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    background-color: rgb(11, 8, 8);
    color: #5f6f72;
    left: 83%;
    top:42px;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}
.info>div:hover{
    color: #ffffff;
}
.in{
text-decoration: none;

color: #5f6f72;
}
.in:hover{
    color: #ffffff;
}

.info>div{
    color: #5f6f72;
}